<div id="<%= dom_id pet %>" class='text-center'>
  <p>
    <strong><%= t('pets.pet.petname') %></strong>
    <%= pet.petname %>
  </p>

  <p>
    <strong><%= t('pets.pet.birthday') %></strong>
    <% if pet.birthday.nil? %>
      <%= t('pets.pet.not_registered') %>
    <% else %>
      <%= pet.birthday.strftime("%Y-%m-%d") %>
    <% end %>
  </p>

  <p>
    <strong><%= t('pets.pet.weight') %></strong>
    <%= pet.weight %>
  </p>

  <p>
    <strong><%= t('pets.pet.gender') %></strong>
    <%= pet.gender %>
  </p>

  <p>
    <strong><%= t('pets.pet.breed') %></strong>
    <%= pet.breed %>
  </p>

  <p>
    <strong><%= t('pets.pet.owner') %></strong>
    <%= Current.user.username.split(' ').map(&:capitalize).join(' ') %>
  </p>

</div>