<div id="<%= dom_id pet %>" class='text-center'>
  <p>
    <strong>Petname:</strong>
    <%= pet.petname %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <% if pet.birthday.nil? %>
      <%= "Not Registered Yet." %>
    <% else %>
      <%= pet.birthday.strftime("%Y-%m-%d") %>
    <% end %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= pet.weight %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= pet.gender %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= pet.breed %>
  </p>

  <p>
    <strong>User:</strong>
    <%= Current.user.name.capitalize %>
  </p>

</div>
