<h1 class="text-center"><%= t('pets.edit.title', petname: @pet.petname) %></h1>

<%= form_with(model: @pet) do |form| %>
    <div class="d-flex justify-content-center">
      <%= render 'shared/errors', obj: @pet %>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label :birthday, t('pets.form.birthday'), class: "col-sm-2 col-form-label text-start", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-3">
        <%= form.date_field :birthday, class: "form-control" %>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label :weight, t('pets.form.weight'), class: "col-sm-2 col-form-label text-start required", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-3">
        <%= form.number_field :weight, step: :any, class: "form-control", placeholder: t('pets.form.weight_placeholder'), max: 100, min: 0.0, required: true %>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label :gender, t('pets.form.gender'), class: "col-sm-2 col-form-label text-start", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-3">
        <%= form.select :gender, [[t('pets.form.male')], [t('pets.form.female')], [t('pets.form.rather_not_to_answer')]], { prompt: t('pets.form.gender_prompt')}, class: "form-control" %>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label :breed, t('pets.form.breed'), class: "col-sm-2 col-form-label text-start", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-3">
        <%= form.text_field :breed, class: "form-control", placeholder: t('pets.form.breed_placeholder') %>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <%= form.submit(@pet.new_record? ? t('pets.form.add') : t('pets.edit.modify', petname: @pet.petname), class: "btn", style: "color: #515a5a; font-weight: bold; background-color: #d5dbdb") %>
    </div>
  <% end %>


<br>

<div class="d-flex justify-content-center mb-4">
  <%= link_to t('pets.edit.show'), @pet %> |
  <%= link_to t('pets.edit.back'), pets_path %>
</div>

