<p style="color: green"><%= notice %></p>
  <div class="container mb-2 mt-2">
  <div class="px-6 py-4 border border-dark-subtle rounded-3">

    <%= render @pet %>

    <div class="text-center">
      <%= link_to "Edit #{@pet.petname.capitalize}'s Profile", edit_pet_path(@pet), class: "btn btn-outline-success" %>
      <%= link_to "Back to #{Current.user.username.capitalize}'s Pets List", pets_path, class: "btn btn-outline-primary" %>
      <%= link_to "Destroy #{@pet.petname.capitalize}'s Profile and the record", @pet, class: "btn btn-outline-danger", data: {"turbo-confirm":  "Are you sure to delete this cat #{@pet.petname.capitalize}? This Cat and associated trackers will all gone..", "turbo-method": :delete } %>
    </div>
  </div>
</div>