<div class="container mb-2 mt-2">
  <div class="px-6 py-4 border border-dark-subtle rounded-3">
    <h1 class="text-center mt-4">
      Edit <%= Current.user.username.split(' ').map(&:capitalize).join(' ') %>'s Profile
    </h1>

    <%= form_with(model: @user) do |form| %>
      <div class="d-flex justify-content-center">
        <%= render 'shared/errors', obj: @user %>
      </div>

      <div class="row mb-3 justify-content-center">
        <%= form.label "User Name", class: "col-sm-2 col-form-label", style: "color: #515a5a; font-weight: bold" %>
        <div class="col-sm-3">
          <%= form.text_field :username, class: "form-control", value: @user.username, :required => true %>
        </div> 
      </div>

      <div class="row mb-3 justify-content-center">
        <%= form.label "Email Address", class: "col-sm-2 col-form-label", style: "color: #515a5a; font-weight: bold" %>
        <div class="col-sm-3">
          <%= form.text_field :email_address, class: "form-control", value: @user.email_address, :required => true %>
        </div> 
      </div>

      <div class="mb-3 row justify-content-center">
        <%= form.label 'Password', class: "col-sm-2 col-form-label text-start required", style: "color: #515a5a; font-weight: bold" %>
        <div class="col-sm-3 text-start"> 
          <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your new password", class: "form-control" %>
          <span id="passwordHelpBlock" class="form-text">Must contain at least 5 characters long.</span>
        </div>
      </div>

      <div class="mb-3 row justify-content-center">
        <%= form.label 'Password Confirmation', class: "col-sm-2 col-form-label text-start required", style: "color: #515a5a; font-weight: bold" %>
        <div class="col-sm-3">
          <%= form.password_field :password_confirmation, required: true, autocomplete: "current-password", placeholder: "Password confirmation", class: "form-control" %>
        </div>
      </div>


      <div class="col-12">
        <div class="row mb-3 justify-content-center" data-controller="time-zone">
          <%= form.label "Time Zone", class: "col-sm-2 col-form-label", style: "color: #515a5a; font-weight: bold" %>
          <div class="col-sm-3">
            <% if @user.timezone.nil? %>
              <%= form.text_field :timezone, data: { "time_zone_target"=> "tz" }, class: "form-control" %>
            <% else %>
              <%= form.text_field :timezone, value: @user.timezone, data: { "time_zone_target"=> "tz" }, id: "disabledTextInput", class: "form-control", readonly: true %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <%= form.submit "Update Profile", class: "btn mb-3", style: "color: #515a5a; font-weight: bold; background-color: #d5dbdb" %>
      </div>
    <% end %>
  </div>
</div>