<div class="d-flex justify-content-center">

  <div class="card" style="width: 60rem; background: #f2f4f6">
    <div class="card-body">
      <div class="d-flex justify-content-center mb-3">
        <%= image_tag("aji.jpg", width:"750px", class:"figure-img img-fluid rounded")%>
      </div>
      <h3 class="card-title mb-5 text-center"><%= t '.about_aji' %></h3>
      <h4 class="card-text mb-3">
        <%= t '.paragraph1' %>
      </h4>
      <h4 class="card-text mb-3">
        <%= t '.paragraph2' %>
      </h4>
      <h4 class="card-text mb-3">
        <%= t '.paragraph3' %>
      </h4>
      <h4 class="card-text mb-3">
        <%= t '.paragraph4' %> 
      </h4>
      <h5 class="card-text mb-3">👉 <a href="https://feeding-tracker-v2-3e86df55d613.herokuapp.com/signup" class="btn btn-secondary"><%= t '.signup' %></a></h5>
      <h5><%= t '.note' %><a href="https://www.petbuddytraining.com/" target="_blank"><%= t '.petbuddy' %></a></h5>
    </div>
  </div>
</div>