<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-3 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-2 bi-house"></i> <span class="fs-5 ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-2 bi-person"></i> <span class="fs-5 ms-1 d-none d-sm-inline"><%= Current.user.username.capitalize%>'s Profile</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                              <%= link_to " Edit Profile", edit_user_path(Current.user), class: "nav-link px-0 bi-pencil", data: {turbo_frame: "main_content"} %>
                            </li>
                            <li>
                                <%= link_to " View Profile", user_path(Current.user), class: "nav-link px-0 bi-person-vcard", data: {turbo_frame: "main_content"} %>
                            </li>
                            <li>
                                <%= link_to " Pet Lists", pets_path, class: "nav-link px-0 bi-bookmark-heart", data: {turbo_frame: "main_content"} %>
                            </li>
                            <li>
                                <%= link_to " Delete Profile", user_path(Current.user), class: "nav-link px-0 bi-trash3", style: "color: #F40B2E !important;", data: {"turbo-confirm":  "Are you sure to delete this user account? The user and associated trackers will all gone..", "turbo-method": :delete } %>
                            </li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-2 bi-person-hearts"></i> <span class="ms-1 d-none d-sm-inline">Cat's Dashboard</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <%= link_to " Add A Cat", new_pet_path, class: "nav-link px-0 bi-plus-circle-dotted", data: {turbo_frame: "main_content"} %>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 bi-eye"> <span class="d-none d-sm-inline">View XXX Profile</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0 bi-emoji-heart-eyes"> <span class="d-none d-sm-inline">Favorite Food List</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-2 bi-clipboard-data"></i> <span class="ms-1 d-none d-sm-inline">Tracker's Dashboard</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Tracker</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Tracker</span> 2</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Tracker</span> 3</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col py-3">
            <turbo-frame id="main_content">
                <%= render 'pages/home' %>
            </turbo-frame>
        </div>
    </div>
</div>