<div id="aji_header">
  <h1 class="text-center">🐾 <%= t(".title") %><%= image_tag("yamiyami-removebg-preview.png", width: "150px") %></h1>
  <h4 class="text-center">🐾 <%= t(".subtitle") %> 🐾</h4>
  <% if authenticated? %>
    <div class="d-flex justify-content-center">
      <%= button_to t("layouts.navigation.log_out"), session_path, class:"btn mb-3", style: "color: #515a5a; font-weight: bold; background-color: #75cddd", method: :delete %>
    </div> 
  <% else %>
    <div class="d-flex justify-content-center">
      <%= link_to t("layouts.navigation.log_in"), new_session_path, class:"btn mb-3", style: "color: #515a5a; font-weight: bold; background-color: #75cddd " %>
    </div>
  <% end %>
</div>
<br>

<div class="row mb-3 m-3">
  <div class="col">
    <div class="p-3"><%= image_tag("chart.png", width:"800px", alt: "Chart of tracking", class: "rounded-4 shadow-lg")%></div>
  </div>
  <div class="col">
    <div class="p-3", style="color: #919097; font-weight: bold; font-size: 36px"><%= t(".description") %></div>
  </div>
</div>

<h3 class="text-center fs-2 fw-bolder text-decoration-underline"><%= t(".features") %></h3>
<div class="row m-3">
  <div class="col-sm-4 mb-3">
    <div class="card px-4 py-2 border border-dark-subtle rounded-3">
      <div class="card-body">
        <h5 class="card-title fw-bold"><%= t(".pet") %></h5>
        <p class="card-text"><%= t('.pet_description') %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="card px-4 py-2 border border-dark-subtle rounded-3">
      <div class="card-body">
        <h5 class="card-title fw-bold"><%= t(".tracker") %></h5>
        <p class="card-text"><%= t(".tracker_description") %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="card px-4 py-2 border border-dark-subtle rounded-3">
      <div class="card-body">
        <h5 class="card-title fw-bold"><%= t('.dry_food') %></h5>
        <p class="card-text"><%= t('.dry_food_description') %></p>
      </div>
    </div>
  </div>
</div>
