<div class="container">
  <h1 class="text mb-3" style="font-weight: bold"><%= t '.get_started_title' %></h1>
  <h2 class="text mb-5"><%= t '.welcome_message' %></h2>

   <h3 class="text" style="color: #515a5a; font-weight: bold"><%= t '.step1_title' %></h3>
  <h4 class="text mb-5" style="color: #919097; font-weight: bold">
    <%= t '.step1_description_html' %>
    <a class="link-secondary" href=https://feeding-tracker-v2-3e86df55d613.herokuapp.com/home target="_blank"><%= t ".step1_link" %></a>
  </h4>
  <h3 class="text" style="color: #515a5a; font-weight: bold"><%= t '.step2_title' %></h3>
    <h4 class="text mb-4" style="color: #919097; font-weight: bold"><%= t '.step2_description' %></h4>
    <h5 class="text" style="color: #6c6d70; font-weight: bold"><%= t '.new_user_tip' %></h5>
    <div class="d-flex justify-content-center mb-5"><%= image_tag("signup.png", width:"1200px", alt: "Signup Screenshot", class: "rounded-4 shadow-lg")%></div>
      <h5 class="text" style="color: #6c6d70; font-weight: bold"><%= t '.existing_user_tip' %></h5>
    <div class="d-flex justify-content-center mb-5"><%= image_tag("signin.png", width:"1200px", alt: "Signin Screenshot", class: "rounded-4 shadow-lg")%></div>

  <h3 class="text" style="color: #515a5a; font-weight: bold"><%= t '.step3_title' %></h3>
    <h5 class="text mb-3" style="color: #919097; font-weight: bold"><%= t '.step3_description' %></h5>
    <div class="d-flex justify-content-center mb-5"><%= image_tag("addpet.png", width:"1200px", alt: "Add Pet Form", class: "rounded-4 shadow-lg")%></div>

    <h5 class="text mb-4" style="color: #919097; font-weight: bold"><%= t '.step3_dropdown_instruction' %></h5>
      <div class="d-flex justify-content-center mb-5"><%= image_tag("profile_firstitem.png", width:"1200px", alt: "Profile Dropdown", class: "rounded-4 shadow-lg")%></div>
      <div class="d-flex justify-content-center mb-5"><%= image_tag("inputpet.png", width:"1200px", alt: "Input Pet Info", class: "rounded-4 shadow-lg")%></div>

      <h5 class="text mb-4" style="color: #919097; font-weight: bold"><%= t '.step3_after_add' %></h5>
        <div class="d-flex justify-content-center mb-5"><%= image_tag("afteradd.png", width:"1200px", alt: "After Adding Pet", class: "rounded-4 shadow-lg")%></div>
      <h5 class="text mb-4" style="color: #919097; font-weight: bold"><%= t '.step3_before_add' %></h5>
        <div class="d-flex justify-content-center mb-5"><%= image_tag("beforeadd.png", width:"1200px", alt: "Before Adding Pet", class: "rounded-4 shadow-lg")%></div>

  <h3 class="text" style="color: #515a5a; font-weight: bold"><%= t '.step4_title' %></h3>
      <h5 class="text mb-3" style="color: #919097; font-weight: bold"><%= t '.step4_intro' %></h5>
      <h5 class="text mb-3" style="color: #919097; font-weight: bold"><%= t '.step4_tracker_nav' %></h5>
      <h5 class="text mb-2" style="color: #6c6d70; font-weight: bold"><%= t '.auto_datetime' %></h5>
      <h5 class="text mb-2" style="color: #6c6d70; font-weight: bold"><%= t '.feeding_details' %></h5>
    <h4 class="text mb-4" style="color: #919097; font-weight: bold"><%= t '.visual_reminder' %></h4>
      <h5 class="text" style="color: #6c6d70; font-weight: bold"><%= t '.red_background' %></h5>
      <h5 class="text" style="color: #6c6d70; font-weight: bold"><%= t '.yellow_background' %></h5>
    <h4 class="text mb-4" style="color: #919097; font-weight: bold"><%= t '.save_action' %></h4>

  <h3 class="text" style="color: #515a5a; font-weight: bold"><%= t '.step5_title' %></h3>
    <h4 class="text mb-4" style="color: #919097; font-weight: bold"><%= t '.step5_log_more' %></h4>
    <h4 class="text mb-4" style="color: #919097; font-weight: bold"><%= t '.step5_explore' %></h4>
  <h3 class="text" style="color: #515a5a; font-weight: bold"><%= t '.add_more_pets' %></h3>
  <h3 class="text mb-5" style="color: #515a5a; font-weight: bold"><%= t '.manage_info' %></h3>

  <h2 class="text mb-5" style="font-weight: bold"><%= t '.closing' %></h2>
</div>