<h1 class='text-center mt-5' style="font-weight: bold;"><%= t('dry_foods.index.title') %></h1>

<div class="d-flex justify-content-center mb-5">
  <%= link_to t('dry_foods.index.add'), new_dry_food_path, class:"bi bi-database-add" %>
</div>

<div class="container-xxl mb-4">

  <% if @dry_foods.empty? %>
    <h3 class="text-center mt-4 mb-4"><%= t('dry_foods.index.no_food') %></h3>
  <% else %>
    <table class="table table-bordered rounded" style="width:100%; border: 2px solid #515a5a;">
      <thead class="table-primary">
        <tr class='text-center justify-content-center'>
          <th scope="col" style="width:1%"><%= t('dry_foods.index.number') %></th>
          <th scope="col" style="width:5%"><%= t('dry_foods.index.brand') %></th>
          <th scope="col"><%= t('dry_foods.index.description') %></th>
          <th scope="col" style="width:15%"><%= t('dry_foods.index.amount') %></th>
          <th scope='col' style="width:20%"><%= t('dry_foods.index.used_amount') %></th>
          <th scope='col' style="width:15%"><%= t('dry_foods.index.left_amount') %></th>
          <th scope="col"><%= t('dry_foods.index.average_used_amount') %></th>
          <th scope="col"><%= t('dry_foods.index.days_remaining') %></th>
          <th scope="col"><%= t('dry_foods.index.usage_pie_chart') %></th>
          <th scope="col"><%= t('dry_foods.index.delete') %></th>
        </tr>
      </thead>
      <tbody class="table-group-divider" id="trackers">
        <% @dry_foods.select(&:persisted?).each_with_index do |food, idx| %>
            <tr class="table align-middle">
              <th scope="row"><%= idx+1 %></th>
              <td><%= food.brand %></td>
              <td class="text-center justify-content-center"><%= food.description %></td>
              <td class="text-center justify-content-center"><%= food.amount %></td>
              <td class="text-center justify-content-center"><%= food.used_amount %></td>
              <td class="text-center justify-content-center"><%= food.left_amount %></td>
              <td class="text-center justify-content-center"><%= food.average_used_amount %></td>
              <td class="text-center justify-content-center"><%= food.days_remaining %></td>
              <td class="text-center justify-content-center" style="width: 200px;">
                <% chart_data = [['Ate Amount', food.used_amount], ['Left Amount', food.left_amount]] %>
                <%= pie_chart chart_data, height: "200px", width: "200px", legend: true, donut: true %>
              </td>
              <td class="text-center justify-content-center"><%= link_to image_tag("icon_delete.png", width:"30px"), dry_food_path(food), data: { turbo_method: :delete, turbo_confirm: t('dry_foods.index.confirm') } %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>