<div class="container" data-controller="dry-food-form" data-dry-food-form-dry-foods-count="<%= @dry_foods_count %>">
  <%= form_with(model: [@pet, tracker]) do |form| %>
    <div class="d-flex justify-content-center">
       <%= render 'shared/errors', obj: @tracker %>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label 'Date', class: "col-sm-2 col-form-label text-start required", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-5">
        <%= form.date_field :date, required: true, value: set_current_date, class: "form-control", max: set_current_date %>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label "Feed Time", class: "col-sm-2 col-form-label text-start required", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-5">
        <%= form.time_field :feed_time, required: true, value: set_current_time, class: "form-control" %>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label "Food Type", class: "col-sm-2 col-form-label text-start required", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-5">
        <%= form.select :food_type, [["🥡 Dry", "Dry"], ["🥫 Wet", "Wet"], ["🍗 Other", "Other"]], {:include_blank => "Select Food Type"}, class: "form-control", required: true, data: { dry_food_form_target: "foodType", action: "change->dry-food-form#toggleDryFoodField" } %>
      </div>
    </div>

    <div data-dry-food-form-target="dryFoodIdField">
      <div class="mb-3 row justify-content-center">
        <%= form.label :dry_food_id, "Dry Food Brand & Description", class: "col-sm-2 col-form-label required", style: "color: #515a5a; font-weight: bold" %>
        <div class="col-sm-5">
          <%= form.collection_select :dry_food_id, DryFood.all, :id, ->(dry_food){ "#{dry_food.brand} - #{dry_food.description}" }, { prompt: "Select Dry Food" }, class: "form-control", required: true, data: { action: "change->dry-food-form#fillFields" } %>
        </div>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label :brand, class: "col-sm-2 col-form-label required", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-5">
        <%= form.text_field :brand, class: "form-control", value: tracker.brand, required: true, data: { dry_food_form_target: "brand" } %>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label :description, class: "col-sm-2 col-form-label required", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-5">
        <%= form.text_field :description, class: "form-control", value: tracker.description, required: true, data: { dry_food_form_target: "description" }  %>
        <div id="descriptionHelpBlock" class="form-text">Input food's flavor or serial number for easy to track</div>
      </div>
    </div>
  

    <div class="mb-3 row justify-content-center">
      <%= form.label "Hungry?", class: "col-sm-2 col-form-label required", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-5">
        <%= form.select :hungry, ["💖 Yes, eat right away", "🔺 Ate A Little", "❌ No, not interested."], { :include_blank => "Is he/she hungry? Please choose..." }, class: "form-control", required: true %>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label :amount, class: "col-sm-2 col-form-label required", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-5">
        <%= form.number_field :amount, step: :any, class: "form-control floatingInput", placeholder: "Please enter a number of range 0~500", required: true, max: 500, min: 0 %>
        <div id="amountHelpBlock" class="form-text">Input number/float number only without unit</div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <%= form.submit(@tracker.new_record? ? 'Add a new record' : "Update", class: "btn", style: "color: #515a5a; font-weight: bold; background-color: #d5dbdb") %>
    </div>
  <% end %>
</div>