<div class="container" 
     data-controller="dry-food-form" 
     data-dry-food-form-dry-foods-count="<%= @dry_foods_count %>" 
     data-pet-id="<%= @pet.id %>"
     data-dry-food-form-add-dry-food-alert-value="<%= t('dry_food_form.add_dry_food_alert') %>"
     data-dry-food-form-no-favorite-wet-food-alert-value="<%= t('dry_food_form.no_favorite_wet_food_alert') %>"
     data-dry-food-form-select-favorite-wet-food-value="<%= t('dry_food_form.select_favorite_wet_food') %>"
     data-dry-food-form-enter-valid-amount-value="<%= t('dry_food_form.enter_valid_amount') %>"
     data-dry-food-form-amount-exceeds-stock-value="<%= t('dry_food_form.amount_exceeds_stock') %>"
     data-dry-food-form-amount-is-valid-value="<%= t('dry_food_form.amount_is_valid') %>">
  <%= form_with(model: [@pet, tracker]) do |form| %>
    <div class="d-flex justify-content-center">
       <%= render 'shared/errors', obj: @tracker %>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label :date, t('trackers.form.date'), class: "col-sm-2 col-form-label text-start required", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-6">
        <%= form.date_field :date, required: true, value: set_current_date, class: "form-control", max: set_current_date %>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label :feed_time, t('trackers.form.feed_time'), class: "col-sm-2 col-form-label text-start required", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-6">
        <%= form.time_field :feed_time, required: true, value: set_current_time, class: "form-control" %>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label :food_type, t('trackers.form.food_type'), class: "col-sm-2 col-form-label text-start required", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-6">
        <%= form.select :food_type, [[t('trackers.form.dry'), "Dry"], [t('trackers.form.wet'), "Wet"], [t('trackers.form.other'), "Other"]], {:include_blank => t('trackers.form.food_type_prompt')}, class: "form-control", required: true, data: { dry_food_form_target: "foodType", action: "change->dry-food-form#toggleFoodFields" } %>
      </div>
    </div>

    <div data-dry-food-form-target="dryFoodIdField">
      <div class="mb-3 row justify-content-center">
        <%= form.label :dry_food_id, t('trackers.form.dry_food_id'), class: "col-sm-2 col-form-label required", style: "color: #515a5a; font-weight: bold" %>
        <div class="col-sm-6">
          <%= form.select :dry_food_id, 
              options_for_select(
                Current.user.dry_foods.map do |dry_food|
                  [
                    "#{dry_food.left_amount < (dry_food.amount * 0.15) ? t('trackers.form.low_storage', left_amount: dry_food.left_amount) : ''} #{dry_food.brand} - #{dry_food.description}",
                    dry_food.id,
                    { 'data-left-amount' => dry_food.left_amount }
                  ]
                end,
                selected: tracker.dry_food_id
              ),
              { prompt: t('trackers.form.dry_food_id_prompt') }, 
              class: "form-control", 
              required: true, 
              data: { 
                action: "change->dry-food-form#fillFields change->dry-food-form#validateAmount", 
                dry_food_form_target: "dryFoodSelect" 
              } 
          %>
        </div>
      </div>
    </div>

    <div data-dry-food-form-target="wetFoodField" style="display:none">
      <div class="mb-3 row justify-content-center">
        <%= form.label :wet_food_selection, t('trackers.form.wet_food_selection'), class: "col-sm-2 col-form-label", style: "color: #515a5a; font-weight: bold" %>
        <div class="col-sm-6">
          <select name="wet_food_selection" class="form-control" data-action="change->dry-food-form#fillWetFoodFields" data-dry-food-form-target="wetFoodDropdown">
            <option value=""><%= t('trackers.form.wet_food_selection_prompt') %></option>
          </select>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-2">
        <span><%= t('trackers.form.or') %></span>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label :brand, t('trackers.form.brand'), class: "col-sm-2 col-form-label required", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-6">
        <%= form.text_field :brand, class: "form-control", value: tracker.brand, required: true, data: { dry_food_form_target: "brand" } %>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label :description, t('trackers.form.description'), class: "col-sm-2 col-form-label required", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-6">
        <%= form.text_field :description, class: "form-control", value: tracker.description, required: true, data: { dry_food_form_target: "description" }  %>
        <div id="descriptionHelpBlock" class="form-text"><%= t('trackers.form.description_help') %></div>
      </div>
    </div>
  

    <div class="mb-3 row justify-content-center">
      <%= form.label :hungry, t('trackers.form.hungry'), class: "col-sm-2 col-form-label required", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-6">
        <%= form.select :hungry, [t('trackers.form.hungry_yes'), t('trackers.form.hungry_little'), t('trackers.form.hungry_no')], { :include_blank => t('trackers.form.hungry_prompt') }, class: "form-control", required: true %>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label :amount, t('trackers.form.amount'), class: "col-sm-2 col-form-label required", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-6">
        <%= form.number_field :amount, step: :any, class: "form-control floatingInput", placeholder: t('trackers.form.amount_placeholder'), required: true, min: 0, data: { dry_food_form_target: "amountInput", action: "input->dry-food-form#validateAmount" } %>
        <div data-dry-food-form-target="amountValidationMessage" class="form-text"></div>
        <div id="amountHelpBlock" class="form-text"><%= t('trackers.form.amount_help') %></div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <%= form.submit(@tracker.new_record? ? t('trackers.form.add') : t('trackers.form.update'), class: "btn", style: "color: #515a5a; font-weight: bold; background-color: #d5dbdb") %>
    </div>
  <% end %>
</div>