<% if @pet.trackers.empty? %>
  <h3 class="text-center mt-4 mb-4"><%= t('trackers.tracker.no_record', petname: @pet.petname.capitalize) %></h3>
<% else %>
  <table class="table table-bordered" style="width:100%">
    <thead class="table-dark">
      <tr class='text-center justify-content-center'>
        <th scope="col" style="width:1%"><%= t('trackers.tracker.number') %></th>
        <th scope="col" style="width:5%"><%= t('trackers.tracker.date') %></th>
        <th scope="col" style="width:6%"><%= t('trackers.tracker.feed_time') %></th>
        <th scope="col" style="width:8%"><%= t('trackers.tracker.hungry') %></th>
        <th scope='col' style="width:10%"><%= t('trackers.tracker.come_back_to_eat_time') %></th>
        <th scope='col' style="width:5%"><%= t('trackers.tracker.food_type') %></th>
        <th scope="col"><%= t('trackers.tracker.brand') %></th>
        <th scope="col"><%= t('trackers.tracker.description') %></th>
        <th scope="col" style="width:5%"><%= t('trackers.tracker.amount') %></th>
        <th scope="col" style="width:6%"><%= t('trackers.tracker.left_amount') %></th>
        <th scope="col" style="width:6%"><%= t('trackers.tracker.total_ate_amount') %></th>
        <th scope="col" style="width:5%"><%= t('trackers.tracker.result') %></th>
        <th scope="col" style="width:6%"><%= t('trackers.tracker.favorite_score') %></th>
        <th scope="col" style="width:6%"><%= t('trackers.tracker.weight') %></th>
        <th scope="col"><%= t('trackers.tracker.note') %></th>
        <th scope="col"><%= t('trackers.tracker.edit') %></th>
        <th scope="col"><%= t('trackers.tracker.delete') %></th>
      </tr>
    </thead>
    <tbody class="table-group-divider" id="trackers">
      <% @trackers.each_with_index do |pet_tracker, idx| %>
          <tr class="table <%= pet_tracker.total_ate_amount.nil? ? 'table-danger' : (pet_tracker.come_back_to_eat_time.empty? ? 'table-warning' : '') %>">
            <th scope="row"><%= idx+1 %></th>
            <td><%= pet_tracker.date.strftime("%Y-%m-%d") %></td>
            <td class="text-center justify-content-center"><%= pet_tracker.feed_time.strftime("%H:%M") %></td>
            <td class="text-center justify-content-center"><%= pet_tracker.hungry %></td>
            <td><%= pet_tracker.come_back_to_eat_time %></td>
            <td class="text-center justify-content-center"><%= pet_tracker.food_type %></td>
            <td class="text-center justify-content-center"><%= pet_tracker.brand %></td>
            <td class="text-center justify-content-center"><%= pet_tracker.description %></td>
            <td class="text-center justify-content-center"><%= pet_tracker.amount %></td>
            <td class="text-center justify-content-center"><%= pet_tracker.left_amount %></td>
            <td class="text-center justify-content-center"><%= pet_tracker.total_ate_amount %></td>
            <td class="text-center justify-content-center"><%= pet_tracker.result%></td>
            <td class="text-center justify-content-center"><%= pet_tracker.favorite_score %></td>
            <td><%= pet_tracker.weight %></td>
            <td><%= pet_tracker.note %></td>
            <td class="text-center justify-content-center"><%= link_to " #{pet_tracker.total_ate_amount.nil? ? t('trackers.tracker.update_left_amount') : (pet_tracker.come_back_to_eat_time.empty? ? t('trackers.tracker.update_come_back_to_eat_time') : '')}", edit_pet_tracker_path(@pet, pet_tracker), 
            class:"link#{pet_tracker.total_ate_amount.nil? ? '-danger' : (pet_tracker.come_back_to_eat_time.empty? ? '-primary' : '-dark') } link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover bi-pencil" %></td>
            <td class="text-center justify-content-center"><%= link_to image_tag("icon_delete.png", width:"30px"), pet_tracker_path(@pet, pet_tracker), data: { turbo_method: :delete, turbo_confirm: t('trackers.tracker.confirm') } %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <h5 class="text-center mb-5" style="color:#4c5ada;"><%= t('trackers.tracker.update_hint') %></h5>
<% end %>