<table class="table table-bordered" style="width:100%">
  <thead class="table-dark">
    <tr class='text-center justify-content-center'>
      <th scope="col" style="width:1%">#</th>
      <th scope="col" style="width:5%">Date</th>
      <th scope="col" style="width:6%">Feed Time</th>
      <th scope="col" style="width:8%">Hungry?(Does he/she eat right away?)</th>
      <th scope='col' style="width:10%">Come Back to Eat Time</th>
      <th scope='col' style="width:5%">Food Type</th>
      <th scope="col">Brand</th>
      <th scope="col">Description</th>
      <th scope="col" style="width:5%">Amount(g)</th>
      <th scope="col" style="width:6%">Left Amount(g)</th>
      <th scope="col" style="width:6%">Total Ate Amount(g)</th>
      <th scope="col" style="width:5%">Result</th>
      <th scope="col" style="width:6%">Favorite Score (ref)</th>
      <th scope="col" style="width:6%">Weight (kg)</th>
      <th scope="col">Note</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
      <th scope="col">Frequency</th>
    </tr>
  </thead>
  <tbody class="table-group-divider" id="trackers">
    <% @trackers.each_with_index do |pet_tracker, idx| %>
        <tr class="table <%= pet_tracker.total_ate_amount.nil? ? 'table-danger' : (pet_tracker.come_back_to_eat_time.empty? ? 'table-warning' : '') %>">
          <th scope="row"><%= idx+1 %></th>
          <td><%= pet_tracker.date.strftime("%Y-%m-%d") %></td>
          <td class="text-center justify-content-center"><%= pet_tracker.feed_time.strftime("%H:%M") %></td>
          <td class="text-center justify-content-center"><%= pet_tracker.hungry %></td>
          <td><%= pet_tracker.come_back_to_eat_time %></td>
          <td class="text-center justify-content-center"><%= pet_tracker.food_type %></td>
          <td class="text-center justify-content-center"><%= pet_tracker.brand %></td>
          <td class="text-center justify-content-center"><%= pet_tracker.description %></td>
          <td class="text-center justify-content-center"><%= pet_tracker.amount %></td>
          <td class="text-center justify-content-center"><%= pet_tracker.left_amount %></td>
          <td class="text-center justify-content-center"><%= pet_tracker.total_ate_amount %></td>
          <td class="text-center justify-content-center"><%= pet_tracker.result%></td>
          <td class="text-center justify-content-center"><%= pet_tracker.favorite_score %></td>
          <td><%= pet_tracker.weight %></td>
          <td><%= pet_tracker.note %></td>
          <td class="text-center justify-content-center"><%= link_to " #{pet_tracker.total_ate_amount.nil? ? 'Update Left Amount' : (pet_tracker.come_back_to_eat_time.empty? ? 'Update come back to eat time' : '')}", edit_pet_tracker_path(@pet, pet_tracker), 
          class:"link#{pet_tracker.total_ate_amount.nil? ? '-danger' : (pet_tracker.come_back_to_eat_time.empty? ? '-primary' : '-dark') } link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover bi-pencil" %></td>
          <td class="text-center justify-content-center"><%= link_to image_tag("icon_delete.png", width:"30px"), pet_tracker_path(@pet, pet_tracker), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
          <td><%= pet_tracker.frequency %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<h5 class="text-center mb-5" style="color:#4c5ada;">Press <i class="bi bi-pencil"></i> to update left amount, the below chart will be updated accordingly</h5>