<div id="<%= dom_id tracker %>">
  <p>
    <strong>Date:</strong>
    <%= tracker.date %>
  </p>

  <p>
    <strong>Feed time:</strong>
    <%= tracker.feed_time %>
  </p>

  <p>
    <strong>Come back to eat time:</strong>
    <%= tracker.come_back_to_eat_time %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= tracker.brand %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tracker.description %>
  </p>

  <p>
    <strong>Hungry:</strong>
    <%= tracker.hungry %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= tracker.amount %>
  </p>

  <p>
    <strong>Left amount:</strong>
    <%= tracker.left_amount %>
  </p>

  <p>
    <strong>Result:</strong>
    <%= tracker.result %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= tracker.note %>
  </p>

  <p>
    <strong>Pet:</strong>
    <%= tracker.pet_id %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= tracker.weight %>
  </p>

  <p>
    <strong>Total ate amount:</strong>
    <%= tracker.total_ate_amount %>
  </p>

  <p>
    <strong>Favorite score:</strong>
    <%= tracker.favorite_score %>
  </p>

  <p>
    <strong>Frequency:</strong>
    <%= tracker.frequency %>
  </p>

  <p>
    <strong>Love:</strong>
    <%= tracker.love %>
  </p>

  <p>
    <strong>Transformed date:</strong>
    <%= tracker.transformed_date %>
  </p>

  <p>
    <strong>Transformed time:</strong>
    <%= tracker.transformed_time %>
  </p>

</div>
