<h1 class="text-center mt-4" style="font-weight: bold;"><%= t('trackers.edit.title', petname: @pet.petname.capitalize) %></h1>

<div class="container">
  <%= form_with(model: [@pet, @tracker]) do |form| %>
    <div class="d-flex justify-content-center">
       <%= render 'shared/errors', obj: @tracker %>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label :date, t('trackers.form.date'), class: "col-sm-2 col-form-label text-start required", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-5">
        <%= form.date_field :date, value: @tracker.date, class: "form-control" %>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label :feed_time, t('trackers.form.feed_time'), class: "col-sm-2 col-form-label text-start required", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-5">
        <fieldset disabled>
          <%= form.time_field :feed_time, value: @tracker.feed_time.strftime("%H:%M"), class: "form-control" %>
        </fieldset>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label :come_back_to_eat_time, t('trackers.edit.come_back_to_eat_time'), class: "col-sm-2 col-form-label text-start optional", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-5">
        <%= form.text_field :come_back_to_eat_time, class: "form-control", placeholder: t('trackers.edit.come_back_to_eat_time_placeholder') %>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label :brand, t('trackers.form.brand'), class: "col-sm-2 col-form-label required", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-5">
        <%= form.text_field :brand, class: "form-control", value: @tracker.brand  %>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label :description, t('trackers.form.description'), class: "col-sm-2 col-form-label required", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-5">
        <%= form.text_field :description, class: "form-control", value: @tracker.description  %>
        <div id="descriptionHelpBlock" class="form-text"><%= t('trackers.edit.description_help') %></div>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label :hungry, t('trackers.form.hungry'), class: "col-sm-2 col-form-label required", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-5">
        <%= form.select :hungry, [t('trackers.form.hungry_yes'), t('trackers.form.hungry_little'), t('trackers.form.hungry_no')], { :include_blank => t('trackers.form.hungry_prompt') }, class: "form-control", required: true %>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label :left_amount, t('trackers.edit.left_amount'), class: "col-sm-2 col-form-label required", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-5">
        <%= form.number_field :left_amount, step: :any, class: "form-control floatingInput", required: true, max: @tracker.amount, min: 0 %>
        <div id="amountHelpBlock" class="form-text"><%= t('trackers.edit.left_amount_help', brand: @tracker.brand.capitalize, description: @tracker.description, amount: @tracker.amount) %></div>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label :love, t('trackers.edit.love'), class: "col-sm-2 col-form-label required", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-5">
        <%= form.select :love, [t('trackers.edit.love_yes'), t('trackers.edit.love_so_so'), t('trackers.edit.love_no')], { :include_blank => t('trackers.edit.love_prompt') }, class: "form-control", required: true %>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <%= form.label :weight, t('trackers.edit.weight'), class: "col-sm-2 col-form-label optional", style: "color: #515a5a; font-weight: bold" %>
      <div class="col-sm-5">
        <%= form.number_field :weight, step: :any, class: "form-control floatingInput", placeholder: t('trackers.edit.weight_placeholder'), max: 100, min: 0.0 %>
        <div id="amountHelpBlock" class="form-text"><%= t('trackers.edit.weight_help') %></div>
      </div>
    </div>

    <div class="row mb-3 justify-content-center">
        <%= form.label :note, t('trackers.edit.note'), class: "col-sm-2 col-form-label optional", style: "color: #515a5a; font-weight: bold" %>
        <div class="col-sm-5">
          <%= form.text_field :note, class: "form-control floatingInput" %>
          <div id="noteHelpBlock" class="form-text"><%= t('trackers.edit.note_help') %></div>
        </div>
      </div>

    <div class="d-flex justify-content-center mb-4">
      <%= form.submit(@tracker.new_record? ? t('trackers.form.add') : t('trackers.form.update'), class: "btn", style: "color: #515a5a; font-weight: bold; background-color: #d5dbdb") %>
    </div>
  <% end %>
</div>