<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Home", home_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", about_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/started">Get Started</a>
      </li>

      <% if authenticated? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= Current.user.email_address %>
          </a>
          <ul class="dropdown-menu">
            <li>
              My Profile
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <%= button_to 'Log Out', session_path, class: "nav-link", method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign in', new_session_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Up', new_registrations_path, class:"nav-link" %>
        </li>
      <% end %>
    </ul>

    <div class="d-flex justify-content-end pe-3">
      <ul class="navbar-nav">
        <% I18n.available_locales.each do |locale| %>
          <li><%= link_to locale_to_word_flag(locale), url_for(locale: locale), class: "nav-link active #{(locale == I18n.locale ? 'border-bottom' : '')}" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>